body{
    font-family: 'Koh Santepheap', cursive;
}
.heading{
    width: 100%;
    text-align: left;
    cursor: not-allowed;
    font-family: 'Koh Santepheap', cursive;
    box-shadow: 6px 6px 7px #22fac4;
    
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 3px double honeydew;
}
.big_image{
    width: 100%;
    cursor:progress;
}
#start{
    font-size: 25px;
    cursor: pointer;
}
#status{
    font-size: 25px;
    cursor:help;
}
#footer_div{
    width: 100%;
    bottom: 0px;
    position: fixed;
    cursor: not-allowed;
    margin-left: -50%;
}
#footer_div:hover{
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{
        font-size: 20px;
        font-weight: 700;
        font-style:normal;
        font-family:'Times New Roman', Times, serif ;
        padding: 3px;
        width: 100%;
        word-spacing: 3px;
        background-color: lawngreen;
        color: maroon;
        border: 3px dotted #fafa25;
        box-shadow: 6px 6px 8px #2545fa;
        margin-left: -50%;
    }
    to{
        
        font-size: 30px;
        font-weight: bold;
        font-style: italic;
        font-family: 'Gluten', cursive;
        padding: 3px;
        width: 100%;
        word-spacing: 3px;
        background-color:mediumblue;
        color:papayawhip;
        border: 6px double #7025fa;
        box-shadow: 8px 8px 10px #fa255a;
        margin-left: -60%;
    }
}
.restart_button{
    border: 5px double #fa255a; 
    font-size: 30px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: 800; 
    font-style: normal; 
    background-color: aliceblue; 
    color: black;
    box-shadow: 8px 8px 10px #fafa25; 
}
.restart_button:hover{
    border: 3px double #ffffff; 
    font-size: 35px; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-weight: bold; 
    font-style: italic; 
    background-color: #fa255a; 
    color: aliceblue;
    box-shadow: 8px 8px 10px #254cfa; 
    padding: 5px;
}

canvas{
    animation-name: example2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes example2{
    from{border: 7px groove #ff7575; box-shadow: 10px 10px 8px #03adfc;}
    to{border: 13px double #ffffff; box-shadow: 10px 10px 8px #e3fc03;}
}
